################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CryptoApp/.vs/CryptoApp
/CryptoApp/obj/Debug
/CryptoAPI.Console
/CryptoApp/packages/Newtonsoft.Json.13.0.3
/.gitignore
