################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CryptoApp/.vs/CryptoApp
/CryptoApp/obj/Debug
